body {
  background: #293462;
}
div {
  margin: 50px 142px;
  position: relative;
}
.ice-cream {
  height: 148px;
  width: 98px;
  background: #fff1c1;
  border: 1px solid #fff1c1;
  border-top-left-radius: 75px;
  border-top-right-radius: 75px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
}
.ice-cream-stik {
  height: 50px;
  width: 30px;
  background: #fe5f55;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 150px;
  left: 35px;
}
.ice-cream-stik-desin {
  height: 10px;
  width: 30px;
  background: #a64942;
  position: absolute;
}
