body {
  padding: 0px;
  margin: 0px;
  background-color: #191919;
}

.main-contaniar {
  width: 400px;
  height: 300px;
  position: relative;
}

.main-part,
.design-one,
.design-two,
.design-three {
  width: 0px;
  height: 0px;
  border-radius: 50%;
  position: absolute;
}

.main-part {
  border: 50px solid #f9e492;
  border-top-color: transparent;
  border-right-color: transparent;
  top: 100px;
  left: 200px;
  transform: rotate(315deg);
}

.design-one {
  border: 50px solid #f9e492;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: -120px;
  left: -120px;
  transform: rotate(360deg);
}

.design-two {
  border: 50px solid #4f77ff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: -50px;
  left: -121px;
  transform: rotate(270deg);
}

.design-three {
  border: 50px solid #4f77ff;
  border-bottom-color: transparent;
  border-left-color: transparent;
  top: -120px;
  left: -51px;
  transform: rotate(90deg);
}
