body {
  padding: 0px;
  margin: 0px;
  background-color: #1a4341;
}

.main-contaniar {
  width: 400px;
  height: 300px;
  position: relative;
}

.main-circle {
  height: 180px;
  width: 210px;
  background-color: transparent;
  border-bottom: 30px solid #f3ac3c;
  border-left: 30px solid #f3ac3c;
  border-right: 30px solid #f3ac3c;
  position: absolute;
  top: 0px;
  left: 65px;
  z-index: -1;
}

.bar-One {
  height: 400px;
  width: 30px;
  background-color: #f3ac3c;
  position: absolute;
  top: 0px;
  left: 90px;
  z-index: -2;
}

.bar-two {
  height: 30px;
  width: 270px;
  background-color: #998235;
  position: absolute;
  top: 240px;
  left: -30px;
  z-index: -3;
}

.sub-circle {
  height: 120px;
  width: 90px;
  background-color: transparent;
  border-bottom: 30px solid #998235;
  border-left: 30px solid #998235;
  border-right: 30px solid #998235;
  position: absolute;
  top: 0px;
  left: 30px;
  z-index: -4;
}
