div {
  width: 50px;
  height: 50px;
}
.first-bar {
  transform: rotate(310deg);
  margin: 7%;
  position: relative;
}
.second-bar {
  transform: rotate(40deg);
  position: absolute;
  top: 11%;
  left: 14%;
}
.first-bar-color-one {
  background: #f3ac3c;
}
.first-bar-color-two {
  background: #fbe18c;
}
.first-bar-color-three {
  background: #f3ac3c;
}

.second-bar-color-one {
  background: #a3a368;
}
.second-bar-color-two {
  background: #fbe18c;
}
.second-bar-color-three {
  background: #a3a368;
}
