body {
  background: #6592cf;
}
div {
  margin: 120px 118px;
  height: 130px;
  width: 148px;
  background: #243d83;
  border-radius: 8px;
  position: relative;
}
.home-object-one {
  border-bottom: 100px solid #243d83;
  border-right: 100px solid transparent;
  border-left: 100px solid transparent;
  position: absolute;
  top: -70px;
  left: -26px;
}
.home-bject-two {
  height: 50px;
  width: 50px;
  background: #eeb850;
  border-radius: 10px 10px 0px 0px;
  position: absolute;
  top: 80px;
  left: 50px;
}
.home-bject-three {
  height: 11px;
  width: 100px;
  background: #eeb850;
  border-radius: 20px;
  position: absolute;
  top: 25px;
  left: 25px;
}
