body {
  padding: 0px;
  margin: 0px;
  background-color: #e38f66;
}

.main-contaniar {
  width: 400px;
  height: 300px;
  position: relative;
}

.main-part {
  width: 200px;
  height: 200px;
  background: #aa445f;
  border-radius: 50%;
  position: absolute;
  top: 50px;
  left: 100px;
}

.design-one {
  height: 80px;
  width: 80px;
  border: 30px solid #f7ec7d;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: 30px;
  border-top-color: transparent;
  border-bottom-color: transparent;
  transform: rotate(-45deg);
}
